<a href="https://colab.research.google.com/github/VU21CSEN0100410/python/blob/main/LISTS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create a list

In [ ]:
actors=["nani","pawan kalyan","ramcharan","ntr","prabhas"]
print(actors)

['nani', 'pawan kalyan', 'ramcharan', 'ntr', 'prabhas']

Allow duplicates

In [ ]:
colour=["yellow","black","yellow","white"]
print(colour)

['yellow', 'black', 'yellow', 'white']

List length

In [2]:
a="KGF2 is going to be release soon"
print(len(a))

32

List Items - Data Types

In [27]:
#String, int and boolean data types
a=["rabbit","pig","donkey","buffalo"]
b=[2,4,6,8]
c=["true","false","true"]
print(a)
print(b)
print(c)

#combined list 
a=["rabbit",2,"true"]
print(a)

#type()
actors=["nani","pawan kalyan","ramcharan","ntr","prabhas"]
print(type(actors))

#The list() Constructor
f=list(("chicken","mutton","prawns","fish"))
print(f)

f=["chicken"]
f=list(("chicken"))
print(f)

['rabbit', 'pig', 'donkey', 'buffalo']
[2, 4, 6, 8]
['true', 'false', 'true']
['rabbit', 2, 'true']
<class 'list'>
['chicken', 'mutton', 'prawns', 'fish']
['c', 'h', 'i', 'c', 'k', 'e', 'n']

Access Items

In [36]:
#print a particular item of the list
item=["paneer","dosa","idly","chapathi","upma"]
print(item[0])
print(item[2])
print(item[3])

#Negative Indexing
item=["paneer","dosa","idly","chapathi","upma"]
print(item[-1])
print(item[-2])
print(item[-4])

#Range of Indexes
item=["paneer","dosa","idly","chapathi","upma"]
print(item[0:4])
print(item[1:])
print(item[:5])
print(item[-4:-2])

#check if item
item=["paneer","dosa","idly","chapathi","upma"]
if "paneer" in item:
  print("yes")

paneer
idly
chapathi
upma
chapathi
dosa
['paneer', 'dosa', 'idly', 'chapathi']
['dosa', 'idly', 'chapathi', 'upma']
['paneer', 'dosa', 'idly', 'chapathi', 'upma']
['dosa', 'idly']
yes

Python - Change List Items

In [47]:
#changing a particular item
item=["paneer","dosa","idly","chapathi","upma"]
item[4]= "butter naan"
print(item)
item[1]="bread"
print(item)

#changing range of items
item=["paneer","dosa","idly","chapathi","upma"]
item[0:2]=["pani puri","masala puri"]
print(item)

#Change the particular item by replacing it with two new items
item=["paneer","dosa","idly","chapathi","upma"]
item[4:5]=["pav bhajji","bread bhajji"]
print(item)

#Change the two values by replacing it with one value
item=["paneer","dosa","idly","chapathi","upma"]
item[3:5]=["chaat"]
print(item)

['paneer', 'dosa', 'idly', 'chapathi', 'butter naan']
['paneer', 'bread', 'idly', 'chapathi', 'butter naan']
['pani puri', 'masala puri', 'idly', 'chapathi', 'upma']
['paneer', 'dosa', 'idly', 'chapathi', 'pav bhajji', 'bread bhajji']
['paneer', 'dosa', 'idly', 'chaat']

Python - Add List Items

In [52]:
#append
item=["paneer","dosa","idly","chapathi","upma"]
item.append("puri")
print(item)


#Insert 
item=["paneer","dosa","idly","chapathi","upma"]
item.insert(3,"puri")
print(item)

#extend
item=["paneer","dosa","idly","chapathi","upma"]
dish=["fried rice","biryani","pulao"]
item.extend(dish)
print(item)

#Add Any Iterable
item=["paneer","dosa","idly","chapathi","upma"]
dish=("fried rice","biryani","pulao")#tuple
item.extend(dish)
print(item)

['paneer', 'dosa', 'idly', 'chapathi', 'upma', 'puri']
['paneer', 'dosa', 'idly', 'puri', 'chapathi', 'upma']
['paneer', 'dosa', 'idly', 'chapathi', 'upma', 'fried rice', 'biryani', 'pulao']
['paneer', 'dosa', 'idly', 'chapathi', 'upma', 'fried rice', 'biryani', 'pulao']

Python - Remove List Items

In [63]:
#Remove Specified Item
p=["vizag","mumbai","delhi"]
p.remove("delhi")
print(p)

#Remove Specified Index
p=["vizag","mumbai","delhi"]
p.pop(1)
print(p)

#Remove the last item
p=["vizag","mumbai","delhi","bangalore"]
p.pop()
print(p)

#Remove the first item
p=["vizag","mumbai","delhi","bangalore"]
del p[2]
print(p)

#Clear the List
p=["vizag","mumbai","delhi","bangalore"]
p.clear()
print(p)

['vizag', 'mumbai']
['vizag', 'delhi']
['vizag', 'mumbai', 'delhi']
['vizag', 'mumbai', 'bangalore']
[]

Python - Loop Lists

In [67]:
#Loop Through a List
p=["vizag","mumbai","delhi","bangalore"]
for x in p:
  print(x)

#Loop Through the Index Numbers
p=["vizag","mumbai","delhi","bangalore"]
for i in range(len(p)):
  print(p[i])

#Using a While Loop
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

#Looping Using List Comprehension
fruits = ["apple", "banana", "cherry"]
[print(x) for x in fruits]

vizag
mumbai
delhi
bangalore
vizag
mumbai
delhi
bangalore
apple
banana
cherry
apple
banana
cherry

[None, None, None]

Python - List Comprehension

In [78]:
p=["vizag","mumbai","delhi","bangalore"]
n = []

for x in p:
  if "a" in x:
    n.append(x)

print(n)

#The Syntax
p=["vizag","mumbai","delhi","bangalore"]
n = [x for x in n if x != "vizag"]

print(n)

#With no if statement
p=["vizag","mumbai","delhi","bangalore"]
n = [x for x in p]

print(n)

#Iterable
n = [x for x in range(15)]
print(n)

n = [x for x in range(10) if x < 5]
print(n)


#Expression
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
n = [x.upper() for x in fruits]
print(n)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
n = ['yes' for x in fruits]
print(n)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
n = [x if x != "banana" else "orange" for x in fruits]
print(n)

['vizag', 'mumbai', 'bangalore']
['mumbai', 'bangalore']
['vizag', 'mumbai', 'delhi', 'bangalore']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['yes', 'yes', 'yes', 'yes', 'yes']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

Python - Sort Lists

In [82]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

num = [100, 50, 65, 82, 23]
num.sort()
print(num)

#Sort Descending
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort(reverse = True)
print(fruits)

num = [100, 50, 65, 82, 23]
num.sort(reverse = True)
print(num)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

Python - Copy Lists

In [85]:
fruits = ["apple", "banana", "cherry"]
fruit = fruits.copy()
print(fruit)

fruits = ["apple", "banana", "cherry"]
fruit = list(fruits)
print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

Python - Join Lists

In [89]:
x = ["a", "b", "c"]
y = [1, 2, 3]
z = x + y
print(z)

z = ["a", "b" , "c"]
y = [1, 2, 3]
for x in y:
  z.append(x)
print(z)

x = ["a", "b" , "c"]
y = [1, 2, 3]
x.extend(y)
print(x)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]