<a href="https://colab.research.google.com/github/VU21CSEN0100410/python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Set (duplicates are not allowed)

In [5]:
p={"dog","cat","goat","cow"}
print(p)
print(type(p))

{'cat', 'goat', 'dog', 'cow'}
<class 'set'>

Length of a Set

In [8]:
p={"dog","cat","goat","cow"}
print(len(p))

4

Set Items - Data Types
String, int and boolean data types

In [58]:
p={"dog","cat","goat","cow"}
q={"1","2","3","4"}
r={"true","false","true"}
print(p)
print(q)
print(r)

{'cat', 'goat', 'dog', 'cow'}
{'2', '3', '4', '1'}
{'true', 'false'}

A set can contain different data type

In [59]:
d = {"abc", 34, True, 40, "male"}
print(d)

{True, 34, 40, 'abc', 'male'}

Loop through the set, and print the values

In [19]:
p = {"dog","cat","goat","cow"}
for x in p:
  print(x)

cat
goat
dog
cow

Checking in the set:

In [12]:
p={"dog","cat","goat","cow"}
print("dog" in p)
print("sheep" in p)

True
False

Add Items

In [13]:
p={"dog","cat","goat","cow"}
p.add("sheep")
print(p)

{'sheep', 'cat', 'goat', 'cow', 'dog'}

Add elements from one into another

In [17]:
d={"dog","cat","goat","cow"}
w={"lion","tiger","hippo","gorilla"}
d.update(w)
print(d)
w.update(d)
print(w)

{'tiger', 'cat', 'hippo', 'gorilla', 'goat', 'cow', 'lion', 'dog'}
{'tiger', 'cat', 'hippo', 'gorilla', 'goat', 'lion', 'cow', 'dog'}

Add elements of a list to at set

In [22]:
w={"lion","tiger","hippo","gorilla"}
d=["dog","cat","goat","cow"]
w.update(d)
print(w)

{'tiger', 'cat', 'hippo', 'gorilla', 'goat', 'lion', 'cow', 'dog'}

Remove Item

In [23]:
w={"lion","tiger","hippo","gorilla"}
w.remove("hippo")
print(w)

{'gorilla', 'tiger', 'lion'}

remove by using the discard() method

In [24]:
w={"lion","tiger","hippo","gorilla"}
w.discard("gorilla")
print(w)

{'hippo', 'tiger', 'lion'}

Remove the last item by using the pop() method

In [27]:
d={"dog","cat","goat","cow"}
z=d.pop() 
print(z)#removed item
print(d)#the set after removal

cat
{'goat', 'dog', 'cow'}

The clear() method empties the set

The del keyword will delete the set completely

In [28]:
d={"dog","cat","goat","cow"}
d.clear()
print(d)

set()

Join Two Sets

In [34]:
d={"dog","cat","goat","cow"}
w={"lion","tiger","hippo","gorilla"}
j=d.union(w)
print(j)

w={"lion","tiger","hippo","gorilla"}
d=["dog","cat","goat","cow"]
w.update(d)
print(w)

{'tiger', 'cat', 'hippo', 'gorilla', 'goat', 'cow', 'lion', 'dog'}
{'tiger', 'cat', 'hippo', 'gorilla', 'goat', 'lion', 'cow', 'dog'}

Keep the items that exist in both set x, and set y

In [47]:
m={"nani","samantha","arjun","yash"}
n={"yash","nani","akhil","chaitanya"}
m.intersection_update(n)
print(m)

{'yash', 'nani'}

In [52]:
m={"nani","samantha","arjun","yash"}
n={"yash","nani","akhil","chaitanya"}
o=m.intersection(n)
print(o)

{'yash', 'nani'}

Keep the items that are not present in both sets

In [53]:
x={"nani","samantha","arjun","yash"}
y={"yash","nani","akhil","chaitanya"}
x.symmetric_difference_update(y)

print(x)

{'arjun', 'akhil', 'chaitanya', 'samantha'}

In [54]:
x={"nani","samantha","arjun","yash"}
y={"yash","nani","akhil","chaitanya"}
z=x.symmetric_difference(y)

print(z)

{'arjun', 'akhil', 'chaitanya', 'samantha'}